@model IEnumerable<ContactAppFinal.Models.Contact>

<h4>Contacts</h4>

<div id="contactListContainer">
    @Html.Partial("_ContactList", Model)

</div>


<div id="contactModal" style="display: none;"></div>

<script src="~/Scripts/staff-operations.js"></script>
<script>
    contactList()
</script>